<!-- <div class="container-fluid login-background" id="login">
  <div class="login-text">
    <span class="login-position-style">Login</span>
  </div>
  <div class="login-div">
    <input class=" login-inputbox " placeholder="USERNAME" type="text" name="username" [(ngModel)]="user.name" tabindex="7"/>
    <input class=" login-inputbox " placeholder="EMAIL" type="text" name="username" [(ngModel)]="user.email" tabindex="7"/>
    <input class=" login-inputbox " placeholder="PASSWORD" type="password" name="password" [(ngModel)]="user.password" tabindex="8" />
    <button type="submit" class="login-button" (click)="signup()" tabindex="9">Signup</button>
  </div>
  <br/>
  <div>
    <span class="forgot-pwd" (click)="login()" tabindex="10">
      <u>login</u>
    </span>
  </div>
</div> -->


<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="USERNAME" name="username" type="text" [(ngModel)]="user.name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="EMAIL" name="email" type="text" [(ngModel)]="user.email">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <input matInput placeholder="PASSWORD" name="password" type="password" [(ngModel)]="user.password">
    </mat-form-field>
  </form>
