<mat-toolbar class="toolbar-color">Log In</mat-toolbar>

<div class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="EMAIL" name="email" type="text" [(ngModel)]="user.email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="PASSWORD" name="password" type="password" [(ngModel)]="user.password">
  </mat-form-field>
</div>
<div>
  <button mat-button (click)="signup()">Sign Up</button>
  <button mat-raised-button (click)="login()" color="primary">Login</button>
</div>
