<!-- <div class="container-fluid login-background" id="login">
  <div class="login-text">
    <span class="login-position-style">Login</span>
  </div>
  <div class="login-div">
    <input class=" login-inputbox " placeholder="USERNAME" type="text" name="username" [(ngModel)]="user.email" tabindex="7"/>
    <input class=" login-inputbox " placeholder="PASSWORD" type="password" name="password" [(ngModel)]="user.password" tabindex="8" />
    <button type="submit" class="login-button" (click)="login()" tabindex="9">LOGIN</button>
  </div>
  <br/>
  <div>
    <span class="forgot-pwd" (click)="signup()" tabindex="10">
      <u>Sign up</u>
    </span>
    </div>
</div> -->

<mat-toolbar class="toolbar-color">Log In</mat-toolbar>

<div class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="EMAIL" name="email" type="text" [(ngModel)]="user.email">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <input matInput placeholder="PASSWORD" name="password" type="password" [(ngModel)]="user.password">
    </mat-form-field>


  </div>

  <div>


      <button mat-button (click)="signup()">Sign Up</button>

      <button mat-raised-button (click)="login()" color="primary">Login</button>
  </div>
